In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plot

In [2]:
df = pd.read_csv('iris.csv')

In [16]:
print(df.head(5))

   Sepal_Length   Sepal_Width   Petal_Length   Petal_Width        Class
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa
3           4.6           3.1            1.5           0.2  Iris-setosa
4           5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
ndf = pd.DataFrame(columns=['Class','Petal_Width'])
ndf.groupby(['Class'],as_index=False).mean()

DataError: No numeric types to aggregate

In [21]:
df.mean(axis=0)

Sepal_Length     5.843333
 Sepal_Width     3.054000
 Petal_Length    3.758667
 Petal_Width     1.198667
dtype: float64